@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.order-table-container12 {
  margin-left: 270px;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 1180px;

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
  }

  .export-button {
    background-color: #cdd1ff;
    color: #091057;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .export-button:hover {
    border-color: white;
    background-color: #091057;
    color: white;
  }
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .filter-btn {
    margin-right: 8px;
    border: 1px solid #d9d9d9;
  }
  .filter-btn:hover {
    border-color: #091057;
    color: #091057;
  }
  .filter-btn.active {
    background-color: #e6f7ff;
    border-color: #91d5ff;
    color: #1890ff;
    font-weight: bold;
  }
  .filter-button {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
.form-order-content {
  display: flex;
  gap: 20px;
  .order-details {
    flex: 1;
  }
  .form-row {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .product-section {
    flex: 1;
    border-left: 1px solid #cdd1ff;
    padding-left: 20px;
  }
  
 
}

.cancel-button {
  background-color: #cdd1ff;
  color: #091057;
  border: none;
}

.create-button {
  background-color: #091057;
  color: white;
  border: none;
  margin-left: 20px;
}
.add-product-button {
  border-color: white;
  background-color: #091057;
  color: white;
  margin-left: 10px;
}
.add-product-button:hover {
  background-color: #cdd1ff;
  color: #091057;
}
}